// Colors
$white: #fff;
$black: #090909;
$primary-color: #3eb397;
$dark-grey: #444444;
$grey-bg: #fafafa;
$body-bg: #eff0f2;
$footer-bg: #36475a;
$text-color: #36475a;

//Fonts
$base-font: 'Poppins', sans-serif;
$base-font-size: 16px;
$thin-font: 100;
$light-font: 300;
$regular-font: 400;
$semibold-font: 600;
$bold-font: 700;
$big-title-size: 50px;
$small-title-size: 24px;

// Paths
$img-url: '../img';
$font-url: '../fonts';
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';

// BS container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1110px,
);

$grid-columns: 60;
